---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    <style>
      html {
        /* background-color: red; */
        font-family: sans-serif;
      }
    </style>
	</head>
	<body>
		<Navigation />
    </nav>
		<h1>Blog</h1>
    <ul>
      <li>
        <a href="/astro-blog-tutorial/posts/post-1">My First Blog Post</a>

      </li>
      <li>
        <a href="/astro-blog-tutorial/posts/post-2">My Second Blog Post</a>
      </li>
      <li>
        <a href="/astro-blog-tutorial/posts/post-3">My Third Blog Post</a>
      </li>
    </ul>
	</body>
</html>
