---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <ul>
    <li>
      <a href="/astro-blog-tutorial/posts/post-1">My First Blog Post</a>

    </li>
    <li>
      <a href="/astro-blog-tutorial/posts/post-2">My Second Blog Post</a>
    </li>
    <li>
      <a href="/astro-blog-tutorial/posts/post-3">My Third Blog Post</a>
    </li>
  </ul>
</BaseLayout>
