---
const href = Astro.url.pathname;
---
<div class="nav-links">
  <a href="/astro-blog-tutorial/">Home</a>
  <a href="/astro-blog-tutorial/about">About</a>
  <a href="/astro-blog-tutorial/blog">Blog</a>
</div>
